.lazyload {
    position: relative;
}

.play-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #df4758;
    color: white;
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    padding-left: 1px;
}

.play-button:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.6);
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.1);
        opacity: 0.7;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.bii-player {
    bottom: 8px;
    left: 6px;
}

</style>